ul {
	list-style-type: none;
	width: 200px;
	margin: 0;
	padding: 0;
}

li {
	display: block;
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
	line-height: 30px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgb(163, 154, 154);
	padding-left: 10px;
}

#settingsList {
	width:500px;
}

#popupList li {
	cursor: pointer;
}

.deleteButton {
	float: right;
	margin-top: 5px;
}