ul {
	list-style-type: none;
	width: 200px;
	margin: 0;
	padding: 0;
}

#list li {
	display: block;
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
	line-height: 30px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgb(163, 154, 154);
	padding-left: 10px;
}